.canvas__Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    #wrapper {
        background-color: green;
    }
    #content {
        background-color: hotpink;
    }
}