.canvas__Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .canvs {
        margin-top: 10px;
    }
    #wrapper {
        background-color: green;
    }
    #content {
        background-color: hotpink;
    }
    #font {
        background-color: #e1e1e1;
    }
    #line {
        background-color: yellow;
    }
    #circle {
        background-color: rgb(235, 146, 14);
    }
    #quadr {
        background-color: rgb(15, 232, 240);
    }
    #smile {
        background-color: #fff;
        border: 1px solid #eee;
    }
    #bezier {
        background-color: cornflowerblue;
    }
    #imgCanvas {
        border: 1px solid #e1e1e1;
    }
    #arcTo {
        border: 1px solid #e1e1e1;
    }
}
.img__wrap {
    margin: 0 auto;
    margin-top: 10px;
    .imgs {
        margin: 0 auto;
        width: 840px;
        height: 400px;
        background-color: #e1e1e1;
        background-size: 840px 400px;
        background-repeat: no-repeat;
    }
    .tootips {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #e1e1e1;
    }
    .legend-area {
        position: absolute;
        top: 60px;
        right: -100px;
        z-index: 999;
        background-color: #e1e1e1;
        transform: rotate(90deg);
    }
}
